---
apiVersion: v1
kind: Service
metadata:
  name: "{{ .Values.i27-eureka-dev }} " #i27-eureka-dev-svc
spec:
  selector:
    app: {{ .Values.name }}
  ports:
    - protocol: TCP
      port: 80
      targetPort: {{ .Values.targetPort }}
  type: ClusterIP